{% extends 'base.html.twig' %}

{% block title %}Issues{% endblock %}

{% block container %}
    <main role="main" class="container">
        <div class="album py-5 bg-light">
            <div class="container">
                <h2>Issues</h2>
                <hr>
                <div class="row">
                    {% for issue in issues %}
                        {# todo: render a list of issues by project_id #}
                        {{ dump(issue) }}
                    {%  endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
